
.form-container{ 
    background: #2a033b ;
    font-family: 'Nunito', sans-serif;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    width: 20%;
    height:40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// .error-border {
//     border: 3px solid red;
//   }
  
//   .error-message {
//     color: red;
//     font-size: 12px;
//   }

@media (max-width: 768px) {
    /* Adjust the position for smaller screens */
    .form-container {
      width: 70%;
      height: 50%;
    }
  }
.form-bg{
    height:100vh;
    background-image: url("/../assets/dirty-music-background-21777451.jpg");    
}
@media (max-width: 768px) {
    /* Adjust the height for smaller screens */
    .form-bg {
      height: 100vh;
    }
  }
.form-container .form-icon{
    color:rgb(8, 42, 58);
    font-size: 55px;
    text-align: center;
    line-height: 100px;
    width: 70px;
    height:70px;
    margin: 0 auto 15px;
    border-radius: 50px;
    right: 100px;
    position:relative;bottom: 28px;right:28px
}

.form-container .form-horizontal .form-group{ margin: 0 0 25px 0;left: 100px;
    // font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.form-container .form-horizontal .form-control{
    color: #000000;
    background: #ecf0f3;
    font-size: 13px;
    height: 0.5px;
    padding: 15px;
    left: 100px;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .error-border{
    color: #000000;
    background: #ecf0f3;
    font-size: 13px;
    height: 0.5px;
    padding: 15px;
    left: 100px;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
    display: inline-block;
    transition: all 0.3s ease 0s;   
    border: 3px solid  #9a4dbb;
    transition: border-color 0.3s;
    box-shadow: 0 0 10px rgba(245, 239, 239, 0.3); /* Add a shadow effect */
}
.form-container .form-horizontal .form-control:focus{
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
    outline: none;
    left:100px;
}
.form-container .form-horizontal .form-control::placeholder{
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.form-container .form-horizontal .btn{
    color: rgb(42, 17, 83);
    background-color:rgb(243, 242, 245);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    height: 30px;
    padding: 6px 12px 10px;
    border-radius: 20px;
    left: 100px;
    border: none;
    transition: all 0.5s ease 0s;
}
.form-container .form-horizontal .btn:hover,
.form-container .form-horizontal .btn:focus{
    color: #fff;
    letter-spacing: 3px;
    box-shadow: none;
    outline: none;
}
.form-horizontal{
    justify-content: center;
    align-items: center;
    text-align: center;
    left:100px
}

h3{
    text-align: center;
    justify-content: center;
    background-color: #2a033b;
    color:white;
    width:100%;
    position:absolute;
    left:50%;
    top:10%;
    border-radius: 30%;
    transform: translate(-50%, -50%);
 }
 @media (max-width: 768px) {
    /* Adjust the height for smaller screens */
    h3 {
      top:16%;
    }
  }