<div class="form-bg">
    <h3>Forgot Password</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-container" style="position:relative;left:380px;top:120px;height: 250px;">
                    <div class="form-icon" style="position:relative;bottom: 28px;right:28px"><img [src]='url1' width="100px"></div>
                      <form class="form-horizontal justify-content-center align-item-center;margin:auto" [formGroup]="forgetPasswordForm" (ngSubmit)="sendVerificationEmail()">
                          <div class="form-group">
                            <input class="form-control" type="email" placeholder="Enter email..." formControlName="email"><br>
                            <span style="font-size: small;color:rgb(251, 251, 252)"*ngIf="email && email.invalid && email.errors?.['required'] && showErrors">This field is not valid</span>
                          </div>
                          <div style="width:50px;height:15px;position: relative;right:40px;" id='recaptcha-container'></div>
                          <button type="submit" style="position:relative;top:0px;left:2px" class="btn btn-default">Get Link</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
  </div>
