<div class="form-bg">
    <h3>OTP</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-container">
                    <div class="form-icon"><img [src]='url1' width="100px"></div>

                    <form class="form-horizontal" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
                         <div class="form-group">
                          <div class="inputfield">
                            <div class="form-group col-sm-2" *ngFor="let input of formInput;  index as i">
                                <input #formRow type="text" formControlName="{{input}}" class="input" maxlength="1" (keyup)="keyUpEvent($event, i)">
                             </div>
                            </div>
                          <span style="font-size: small;color:rgb(251, 251, 252)" *ngIf="otp && otp.invalid && otp.errors?.['required'] && showErrors">This field is not valid</span>
                        </div>
                          <button type="submit" class="btn btn-default">LOGIN</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
