  <div style="overflow-y: hidden;overflow-x: hidden;">
    <div class="upper" style="overflow-y: hidden;">
        <h2 style="color:beige;text-align: center;">Recently Played</h2>
      <br>
      <table>
        <tr *ngFor="let audio of newAudioArray;let j=index">
          <td><img class="addImage" [src]='audio.image'></td>
            <td><ul style="padding: 0px;position: fixed;">{{audio.name}}
            </ul></td>
          <td>
            <ng-container *ngIf="audio.play;else pause">
             <button id="play" class="play" (click)="play(j)"><img class="playImage" [src]="urlPlay"></button>
             </ng-container>
            <ng-template #pause>
              <button  id="pause" class="pause" (click)="pauseAudio(j)"><img class="pauseImage" [src]="urlPause"></button>
            </ng-template>
          </td>
          <td>
          </td>
        </tr>
      </table>
    </div>
  </div>