<app-navbar></app-navbar>
<div class="upper" style="overflow-y: hidden;overflow-x: hidden;">
  <h2>Recent PLayed</h2>
  <br>
  <table>
    <tr *ngFor="let audio of newAudioArray;let j=index">
      <td><img class="audioImage" [src]='audio.image'></td>
       <td>
           <ul style="padding: 0px;" (click)="getAudio(j)">{{audio.name}}</ul>
       </td>
      
      <td>
        <ng-container *ngIf="audio.play;else pause">
         <button id="play" style="width:38px" (click)="play(j)"><img class="play" [src]="urlPlay"></button>
         </ng-container>
        <ng-template #pause>
          <button  id="pause" style="width:38px" (click)="pauseAudio(j)"><img class="pause" [src]="urlPause"></button>
        </ng-template>
      </td>
    </tr>
  </table>
  <div class="arrow" (click)="showDivAppSong()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="app-songs" *ngIf="showDiv">
    <app-audio [arraySongs]="audioArray" [index]="index"></app-audio>
  </div>
</div>
