  nav { 
    height: 60px; 
    background-image: url("/../assets/backgroundImage.jpeg");    
  }

  nav ul {
    width: 480px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }
  nav a {
    color: white;
    text-decoration: none;
  }

  .spotify-logo{
     width:10%;
     height:90%;
     position: relative;
     right:60px;
  }
  .container {
    height: inherit; /* get parent height */
    width: 1170px;   /* add 970px for smaller screen */
    margin: 0 auto;
    padding: 0 15px;
    display: flex; 
  }
  nav li {
    font-weight: bold;
  }

  .upper { 
    height: 608px;
    //background: linear-gradient(#f037a5 -60%,#fae62d 140%);
    background-image: url("/../assets/backgroundImage.jpeg");    
  }
 
  .d-flex{
    width:300px;
    height:30px;
    position:relative;
    top:20px;
    border-radius: 50px;
  }

table{
  position:relative;
  top:30px;
  color: white;
  border-radius: 50px;
  border-color: aliceblue;
  width:300px;
}   
.main {
  position: relative;
}

h3{
    color:aliceblue;position:relative;right:60px;top:12px;font-style: oblique;
}
.search{
    border-radius: 50px;height: 30px;width:200px;position:relative;top: 12px;
}
.song{
    color:rgb(255, 255, 255);position:relative;top:50px;right:450px;
}
.app-songs{
    position: relative;top:200px;left:500px;border-radius: 50px;
}
li{
    color: white;position: relative;top: 12px;
}
.chooseFile{
    position:relative;left:100px;
}
.dataButton{
  position: relative;
  left: 100px;
  width:30px;
  border-radius: 50px;
  height:30px;
  background-color: black;
}
.addImage{
  position: relative;
  left: 140px;width: 30px;
  height:30px;
  border-radius: 40%;
  background-color: black;
}
.pay{
  border-radius: 50%;width:47px;position: relative;left:100px;bottom:5x;
}
.submit{
  color:white;background-color: black;position: relative;left:120px;top:0px;
  border-radius: 40%;
}
.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 100px;
  top: 100px;
  right:120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.matIconImage{
 color:white;
 position:relative;
 right:7px;
}
.fileIcon{
  color:white;
  position: relative;
  right:7px;
}
h6{
  font-size: smaller;color: white;
}
.ngx-spinner{
  width:30px;
  height: 30px;
  visibility: hidden;
  display: none;
}
.gif{
   border-radius: 50px;
   width: 30px;
   height: 30px;
   position: relative;
   bottom:15px;
}