<!-- <mat-dialog-content>
 <mat-dialog-actions>
    <input type="file" (change)="chooseFile($event)"><br/>  
    <button style="border-radius: 50px;" [hidden]="!addImage" (click)="addData(file)">
        <mat-icon style="border-radius: 50px;">file_upload</mat-icon>
       </button>
       <button style="border-radius: 50px;" (click)="uploadImage(file)">
           <mat-icon style="border-radius:50px;">image_upload</mat-icon>
       </button>
       <button mat-button mat-dialog-close>x</button>
 </mat-dialog-actions>
</mat-dialog-content> -->
   