<html lang="en"><head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="width:900px;height: 440px;">
	<div class="limiter" style="height:300px;margin: auto;">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');" style="width:280px;margin: auto;">
			<div class="wrap-login100" style="height:400px">
				<form class="login100-form validate-form" style="margin:auto">
					<span class="login100-form-logo" style="width: 70px;height: 70px;left:400px">
						<img [src]="url" style="width:100px;height:100px">
					</span>

					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder=""></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder=""></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" style="width:5px;height:20px">
							Login
						</button>
                      
                            <a class="txt1" href="#" style="color: aliceblue;font-size: small;">
                                Forgot Password?
                            </a>
                        
					</div>

					
				</form>
			</div>
		</div>
	</div>
</body>
</html>