<div class="form-bg">
  <h3> SignUp</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-container" style="position:relative;left:380px;top:20px">
                    <div class="form-icon" style="position:relative;bottom: 28px;right:28px"><img [src]='url' width="100px"></div>

                    <form class="form-horizontal justify-content-center align-item-center;margin:auto" [formGroup]="signUpForm" (ngSubmit)="signUp()">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Name" formControlName="name"><br>
                        <span style="font-size: small;color:rgb(251, 251, 252)"*ngIf="name && name.invalid && name.errors?.['required'] && showErrors">This field is not valid</span>
                      </div>  
                      <div class="form-group">
                            <input class="form-control" type="email" placeholder="email address" formControlName="email"><br>
                            <span style="font-size: small;color:rgb(251, 251, 252)"*ngIf="email && email.invalid && email.errors?.['required'] && showErrors">This field is not valid</span>
                      </div>
                        <div class="form-group">
                          <input class="form-control" [type]="changetype?'password':'text'" placeholder="password" name="password" formControlName="password">
                          <span style="font-size:small;color:rgb(251, 251, 252);padding: 100px;"*ngIf="password && password.invalid && password.errors?.['required'] && showErrors">This field is not valid</span>
                          <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'" style="padding: 0px;"></i></span>
                        </div>
                        <div class="form-group" style="padding: 0px;">
                          <input class="form-control" [type]="changetype?'password':'text'" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword">
                          <span style="font-size:small;font-family: 'Times New Roman', Times, serif;color:rgb(251, 251, 252)"*ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.errors?.['required'] && showErrors">This field is not valid</span> 
                          <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="tel" placeholder="phone Number" formControlName="phoneNo" oninput="this.value = this.value.replace(/[^0-9]/g, '')" min="10" max="15"><br>
                          <span style="font-size: small;color:rgb(251, 251, 252)"*ngIf="phoneNo && phoneNo.invalid && phoneNo.errors?.['required'] && showErrors">This field is not valid</span>
                        </div>
                     <span  style="font-size: small;color:rgb(251, 251, 252)" *ngIf="signUpForm.errors?.['passwordsDontMatch']">
                      Passwords should Match
                     </span>

                        <button type="button" type="submit" class="btn btn-default" [disabled]="">Sign Up</button><br>
                         <h2 style="color: white;font-size:medium;">Already Registered ?</h2>
                        <button type="button" class="btn btn-default" (click)="goToLogin()">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
<router-outlet></router-outlet>