<div class="form-bg">
    <h3>Reset Password</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-container" style="position:relative;left:380px;top:80px">
                    <div class="form-icon" style="position:relative;bottom: 28px;right:28px"><img [src]='url' width="100px"></div>

                    <form class="form-horizontal justify-content-center align-item-center;margin:auto" [formGroup]="resetForm" (ngSubmit)="reset()">
                        
                        <div class="form-group">
                            <input class="form-control" [type]="changetype?'password':'text'" placeholder="Old Password" name="oldPassword" formControlName="oldPassword">
                            <span style="font-size:small;font-family: 'Times New Roman', Times, serif;color:rgb(251, 251, 252)"*ngIf="oldPassword && oldPassword.invalid && oldPassword.errors?.['required'] && showErrors">This field is not valid</span> 
                            <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
                        </div>
                        <div class="form-group">
                          <input class="form-control" [type]="changetype?'password':'text'" placeholder="New Password" name="newPassword" formControlName="newPassword">
						  <span style="font-size:small;font-family: 'Times New Roman', Times, serif;color:rgb(251, 251, 252)"*ngIf="newPassword && newPassword.invalid && newPassword.errors?.['required'] && showErrors">This field is not valid</span> 
						  <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
						</div>
                        <div class="form-group">
                            <input class="form-control" [type]="changetype?'password':'text'" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword">
                            <span style="font-size:small;font-family: 'Times New Roman', Times, serif;color:rgb(251, 251, 252)"*ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.errors?.['required'] && showErrors">This field is not valid</span> 
                            <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
                          </div>
			         <mat-error *ngIf="resetForm.errors?.['passwordsDontMatch']">
                        Passwords should Match
                     </mat-error>
						<button type="submit" class="btn btn-default">Reset</button>
					</form>
                </div>
            </div>
        </div>
    </div>
  </div>
<router-outlet></router-outlet>