nav { 
    height: 60px; 
    background-image: url("/../assets/backgroundImage.jpeg");    
  }

  nav ul {
    width: 480px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }
  nav a {
    color: white;
    text-decoration: none;
  }

  .spotify-logo{
     width:10%;
     height:90%;
     position: relative;
     right:60px;
  }
  .container {
    height: inherit; /* get parent height */
    width: 1170px;   /* add 970px for smaller screen */
    margin: 0 auto;
    padding: 0 15px;
    display: flex; 
  }
  nav li {
    font-weight: bold;
  }

  .upper { 
    height: 608px;
    //background: linear-gradient(#f037a5 -60%,#fae62d 140%);
    background-image: url("/../assets/backgroundImage.jpeg");    
  }
 
  .d-flex{
    width:300px;
    height:30px;
    position:relative;
    top:20px;
    border-radius: 50px;
  }
  button{
    border-radius: 60px;
    background-color: black;
    color:white;
    padding: 0px;
    height:32px;
    width:70px;
    position:relative;
  }
  h4{
    color:white;
    height:25px;
    position:relative;
    left:40px;
    width:450px;
    border-radius:50px;
  }
table{
  position:relative;
  top:30px;
  color: white;
  border-radius: 50px;
  border-color: aliceblue;
  width:300px;
}   
// .dialog-responsive {
//   width: 40%;
//   left: 30px;
// }

// @media only screen and (max-width: 760px) {
//   .dialog-responsive {
//       width: 100%;
//   }
// }
.main {
  position: relative;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 100px;
  top: 100px;
  right:120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-songs{
 position: relative;
 left:400px;
 bottom: 100px;
 padding: 0px;
}
audio::-webkit-media-controls-panel {
  background-color: #000000;
}

audio::-webkit-media-controls-play-button {
  background-color: #B1D4E0;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177,212,224, .7);
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
}

audio::-webkit-media-controls-timeline {
  background-color: #B1D4E0;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #B1D4E0;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}
.audio-player {
  --player-button-width: 3em;
  --sound-button-width: 2em;
  --space: .5em;
  width: 15rem;
  height: 15rem;
}

.song{
   position: relative;
   top:50px;
   right:300px;
   left:100px;
}
audio::-webkit-media-controls-mute-button {
  background-color: #B1D4E0;
  border-radius: 50%;
}

.pay{
  position: relative;
  left:130px;
  top:10px;
}