<nav> 
    <div class="container">
      <img class="spotify-logo" [src]="url" alt="spotify-logo">
      <h3 style="color:aliceblue;position:relative;right:60px;top:12px;font-style: oblique;">Mimify</h3>
      <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="searching()"> 
        <input style="border-radius: 50px;height: 30px;width:200px;position:relative;top:0px"class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" formControlName="search" #myInput>
        <!-- <span style="font-size: small;color:rgb(251, 251, 252);border-radius: 50px;"*ngIf="search && search.invalid && search.errors?.['required'] && showErrors">This field is not valid</span> -->
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        <ul style="color:rgb(255, 255, 255);position:relative;top:10px;background-color: black;" (click)="openSongs()">
         <li>{{reqData}}</li>
        </ul>      
      </form>
        <ul>
          <ng-container *ngIf="authService.currentUser$ | async as user;">
            <button matButton (click)="logOut()"><mat-icon>logOut</mat-icon>LogOut</button>
          </ng-container>
          <ng-container *ngIf="authService.currentUser$ | async as user;">
            <button matButton style="width:40px;">
              <mat-icon>account_circle</mat-icon>
              <!-- {{user.displayName}} -->
              <!-- <mat-icon>expand_more</mat-icon> -->
            </button>
          </ng-container>
          <!-- <li><a href="signup">Sign up</a></li>
          <li><a href="login">Log In</a></li> -->
          <li style="color: white;" (click)="openDialog()">Add songs</li>
        </ul>  
      </div>
  </nav>
  <div class="upper">
    <br>
    <!-- <h4 *ngIf="user$ | async as user"> Welcome to our App {{user.displayName}}!</h4> -->
    <!-- <h2 style="position:relative;left:100px">Sounds</h2> -->
    <table>
      <tr *ngFor="let audio of audioArray;let j=index">
        &nbsp;&nbsp;&nbsp;<td>{{j+1}}.</td>&nbsp;
        <td><img style=' width:40px;
          height:40px;
          border-radius: 50px;'[src]='audio.image'></td>
         <td><ul style="padding: 0px;" (click)="getAudio(j)">{{audio.name}}
            <ng-container *ngIf="!audio.audioPlay && audio.showAudio">
              <audio controls="controls">
               <source [src]="urlSound" type="audio/mpeg">
              </audio>
            </ng-container>
        </ul></td>
        
        <td>
          <ng-container *ngIf="audio.play;else pause">
            <button id="play" style="width:38px" (click)="play(j)"><img style="border-radius: 50px;width:30px" [src]="urlPlay"></button>
          </ng-container>
          <ng-template #pause>
            <button  id="pause" style="width:38px" (click)="pauseAudio(j)"><img style="border-radius: 50px;width:30px;padding:0px" [src]="urlPause"></button>
          </ng-template>
        </td>
      </tr>
    </table>
  </div>