<div style="overflow-y: hidden;overflow-x: hidden;">
  <nav> 
    <div class="container">
      <img class="spotify-logo" [src]="url" alt="spotify-logo">
      <h3 style="color:aliceblue;position:relative;right:60px;top:12px;font-style: oblique;">Mimify</h3>
    
        <input style="border-radius: 50px;height: 30px;width:200px;position:relative;top: 12px;"class="form-control mr-2" type="search" placeholder="Search" aria-label="Search"  #myInput>
        <div style="color:rgb(255, 255, 255);position:relative;top:50px;right:450px;" (click)="openSongs(audioSongsArray)">
              <div style="position: relative;top:200px;left:500px;border-radius: 50px;">
                <app-songs></app-songs>
              </div>
              <li>{{reqData}}</li>
        </div>      

        <ul>
            <li style="color: white;position: relative;top: 12px;" (click)="logOut()"><span class="material-icons">logout</span>
            </li>
            <li style="width:40px;color: white;position: relative;top: 12px;">
              <mat-icon>account_circle</mat-icon>
            </li>
          
          <li style="position: relative;top: 12px;"><a href="home"><mat-icon>home</mat-icon></a></li>
          <li style="position: relative;top: 12px;"><a href="favorite"><mat-icon>favorite</mat-icon></a></li> 
          <li style="position: relative;top: 12px;"><a href="recent"><mat-icon>volume_up</mat-icon></a></li> 
          <div class="main">
           <li style="color: aliceblue;position: relative;top: 10px;"(click)="toggleDialog()"><mat-icon>note_add</mat-icon></li>
            <div *ngIf="isOpen" class="dialog"> 
              <mat-dialog-content>
                <mat-dialog-actions>
                   <input style="position:relative;left:100px" type="file" (change)="chooseFile($event)"><br/>  
                      <button style="position: relative;left: 100px;width:30px" [hidden]="!amount" (click)="addData(file)">
                       <mat-icon style="color:white;">file_upload</mat-icon>
                      </button>
                      <button style="position: relative;left: 136px;width: 30px;" (click)="uploadImage(file)">
                          <mat-icon style="color:white;">image_upload</mat-icon>
                      </button>
                      <li mat-button mat-dialog-close><mat-icon style="color: white;">mat-dialog-close</mat-icon></li>
                      <form [formGroup]="payForm" (ngSubmit)="pay()" [hidden]="!addImage">
                        <input style="border-radius: 50px;width:97px;position: relative;left:100px;bottom:20px;" type="number" formControlName="payment" placeholder="Amount...">
                        <button style="color:white;background-color: black;position: relative;left:20px;top:10px;" type="submit">Add</button>
                      </form>
                </mat-dialog-actions>
               </mat-dialog-content>
            </div>
          </div>
        </ul>  
      </div>
  </nav>
  <div class="upper" style="overflow-y: hidden;">
    <h3 style="color:white;text-align: center;" >Collections And Playlist</h3>
    <br>
    <table>
      <tr *ngFor="let audio of audioArray;let j=index">
        <td><img style=' width:40px;
          height:40px;
          border-radius: 50px;position:relative;left:20px;top:13px;'[src]='audio.image'></td>
          <td><div style="padding: 0px;position: fixed;" (click)="getAudio(j)">{{audio.name}}
              <div class="app-songs" *ngIf="!audio.audioPlay && showAudio" >
                <app-audio [arraySongs]="audioArray" [index]="j" [audioPlay]="audio.play"></app-audio>
              </div>
          </div></td>
        
        <td>
          <ng-container *ngIf="audio.play;else pause">
           <button #audio id="play" style="width:38px;position:relative;left:150px;top:10px;" (click)="play(j)"><img style="border-radius: 50px;width:30px" [src]="urlPlay"></button>
           </ng-container>
          <ng-template #pause>
            <button  id="pause" style="width:38px;position:relative;left:150px;top:10px;" (click)="pauseAudio(j)"><img style="border-radius: 50px;width:30px;padding:0px" [src]="urlPause"></button>
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="audio.like;else dislike">
            <button id="like" style="width:38px;position:relative;left:130px;top:10px;" (click)="like(audio,j,audio.id)"><img style="border-radius: 50px;width:30px;" [src]="urlDislike"></button>
            </ng-container>
           <ng-template #dislike>
             <button  id="dislike" style="width:38px;position:relative;left:130px;top:10px;" (click)="disLike(audio,j,audio.id)"><img style="border-radius: 50px;width:32px;padding:0px;" [src]="urlLike"></button>
           </ng-template>
        </td>
        <td>
          <div class="pay">
            <ng-container *ngIf="audio.amount==0;else pay">
              <button id='paid' class="btn btn-success">$0</button>
            </ng-container>
            <ng-template #pay>
              <button id='pay' (click)="makePayment(audio.amount,j,audio.id,audio)" class="btn btn-danger btn-block">${{audio.amount}}</button>
            </ng-template>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div>